@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html{
    scroll-behaviour: smooth;
}    
body {
    background-color: #fbfffd;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


            .selected {
                color:red;
                font-weight:bold;
            }


#header {
    background-color: #ff847c;
    height: 70px;
    color: white;
    position: fixed;
    width: 100%   
}

.nav {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.logo{
    grid-column: 3/4;
    font-family: 'Abril Fatface', cursive;
    font-size: 5rem;
    line-height: 0.85
    
}

.links {
    margin: 25px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem
}

#about {
    max-width: 900px;
    height: 650px;
    background-image: url(img/dog.jpg);
    background-size: 550px, auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: grid;
    margin: auto;
    padding-left: 40px;
    grid-template-rows: 40% 24% auto
}

#container{
    display: grid;
    grid-template-columns: 25% auto;
    margin-top: 150px;
}

#lilly {
    font-family: "Abril Fatface";
    font-size: 6rem;
    color: #99b898;
    grid-column: 1/2;
}

#subtitle{
    font-size: 1.1rem;
    color: #2a363b;
    margin-top: 60px;
    grid-column: 2/3;
    text-align: left;
    
}
#overton {
    font-family: "Abril Fatface";
    font-size: 6rem;
    color: #99b898;
    margin-left: 70px;
}

#description {
    max-width: 450px;
    color: #2a363b;
    font-size: 1.1rem;
}

.designsection {
    height: 650px;
    background-color: #2a363b ;
}

#designtop {
    max-width: 840px;
    display: grid;
    margin: auto;
    grid-template-columns: 45% auto;
    padding-top: 10px
}

.title {
    color: white;
    font-family: "Abril Fatface";
    font-size: 4rem;   
    grid-column: 2/3;
    padding-top: 40px;
    padding-left: 20px;
}

.description {
    color: white;
    font-size: 0.9rem;
    grid-column: 2/3;
    padding-top: 0px;
    max-width: 400px;
    padding-left: 20px;
}

.description h1{
    font-size: 1.1rem
}

#designtop img {
    grid-column: 1/2;
    width: 300px;
    padding-left: 50px;
    padding-top: 40px;
}

#designbottom {
    max-width: 800px;
    display: grid;
    margin: auto;
    padding-top: 50px;
    grid-template-columns: 32% auto auto;   
}

#designsection2 {
    height: 550px;    
}

#designbottom img{
    height:300px;
    margin: auto;
    padding-left: 30px;
}

#logotop {
    max-width: 800px;
    display: grid;
    margin: auto;
    grid-template-columns: 50% auto;
    padding-top: 20px
}

#logodescription h1 {
    padding-top: 30px;
    font-size: 1.1rem;
}

#logo1 {
    padding-top: 45px;
    padding-left: 30px;
}

#logobottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 800px;
    margin: auto;
    padding-top: 20px;
} 

#logobottom img {
    padding: 20px;
    height: 130px
}

#artsection {
    height: 650px;
    background-color: #a1c2a0;
}

#arttop {
    max-width: 840px;
    display: grid;
    margin: auto;
    grid-template-columns: 30% auto;
    padding-left: 40px
}

#arttop img {
    width: 500px;
    padding-top: 50px;
    padding-left: 35px
}

#arttop .title {
    padding-top: 70px;
}

#artbottom {
    max-width: 800px;
    display: grid;
    margin: auto;
    padding-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;   
}

#artbottom img {
    margin: auto;
    height:300px;
    padding-left: 20px
}

#fashionsection {
    height: 730px;
}

#fashiontop {
    max-width: 800px;
    display: grid;
    margin: auto;
    grid-template-columns: 60% auto;
    padding-left: 40px;
    padding-right: 40px;
}

#fashiontop .title {
    padding-top: 70px;
    color: #ff847c;
}

#fashiontop .description {
    color: #2a363b;
}

#fashiontop img {
    height: 300px;
    padding-top: 40px
    
}

#fashionbottom {
    max-width: 800px;
    display: grid;
    padding-top: 40px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;   
}

#fashionbottom img {
    height: 300px;
}

#fashionsection2 {
    height: 650px;
    background-color: #2a363b;

}

#section2container {
    display: grid;
    grid-template-columns: 35% auto;
    padding-left: 60px;
    padding-top: 10px;
    max-width: 900px;
    margin: auto;
}

#section2left .description{
    padding-top: 60px;
    padding-right: 40px;
}
#section2left img {
    width: 250px;
    padding-top: 50px;
}

#section2right img {
    padding-top: 40px;
}

#bottomimages img {
    height: 225px;
    padding-right: 40px;
    
}

#footer {
    background-color: #ff847c;
    height: 80px;
    width: 100%;  
    margin: auto;
}

#icons {
    display: grid;
    grid-template-columns: 10% 10% auto;
    max-width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    padding-bottom: 20px;
}

#footer img {
    width: 65px;
    margin: auto;
}


#email { 
    color: white;
    font-size: 1.4rem;
    text-align: right;
    padding-right: 10px;
    margin-right: 20px;
}

a {
    font-weight: normal;
}

a:hover {
    font-weight: bold;
}







@media screen and (max-width:700px) {
    
    .logo{
        font-size: 3.2rem;
    }
    
    #subtitle{
        text-align: center;
    }
    
    #designtop {
        grid-template-columns: auto;
    }
}



